<html>
  <head>Packer</head>
  <body>
    <h3>On server</h3>

    <pre>ImageResizerEncoder.url(<%= JSON.pretty_generate(@params) %>)</pre>
    <hr />

    <h3>Will output</h3>
    <a href="<%= @url %>"><%= @url %></a>
  </body>
</html>
