<html>
  <head>
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <title>Packer</title>
  </head>
  <body>
    <h3>On server</h3>

    <pre>ImageResizerEncoder.url(<%= JSON.pretty_generate(@params) %>)</pre>
    <hr />

    <h3>Will output</h3>
    <a href="<%= @url %>"><%= @url %></a>

    <br />
    <br />

    <img src="<%= @url %>" />

  </body>
</html>
