<!DOCTYPE html>
<html>
<head>
  <title>Image resizer upload iframe</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/min/dropzone.min.js"></script>
</head>
<body>
  <style lang="scss">
    body {
      padding: 0px;
      margin: 0px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .dropzone {
      border: 1px solid #ccf;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;

      padding:50px 20px;
      background-color:#eef;
      cursor: pointer;
      text-align: center;
    }

    .dropzone button {
      padding: 7px 15px;
      border: none;
      background: transparent;
      font-size: 15px;
    }

    .dropzone:hover { border: 1px solid #aaf;  }

    .dropzone svg { display: none; }

    input {
      border: 2px solid #ccf;
      border-radius: 4px;
      width: 96%;
      font-size:14px;
      height: 30px;
      padding-left: 5px;

    }
  </style>

  <form onsubmit="uploadByUrl(); return false;">
    <input type="text" id="remote_url" placeholder="paste image or url" autocomplete="off" />
  </form>

  <br clear="all" />

  <div class="dropzone"></div>

  <script>
    Dropzone.autoDiscover = false;

    var myDropzone = new Dropzone('.dropzone', {
      paramName:     'image',
      url:           '<%= request.path %>',
      maxFilesize:   10,
      dictDefaultMessage: '<b>Click</b> here for upload dialog',
      acceptedFiles: <%= params[:is_image] ? '"image/*"' : 'null' %>
    });

    myDropzone.on("complete", function(response) {
      if (response.xhr) {
        var text = response.xhr.responseText;

        if (text.indexOf('Error:') > -1) {
          alert('Upload error: ' + text);
        } else {
          sendMessage(JSON.parse(text));
          this.removeAllFiles(true);
        }
      } else {
        document.body.innerHTML += '<style>.dz-error-message { position: fixed; top: 10px; left: 10px; right: 10px; background: #fee; border: 2px solid #a77; z-index: 1; padding: 5px; }</style>'
      }
    });

    function sendMessage(message) {
      var msg = { type: 'file-upload', data: message }
      console.log('file-upload-server', message)
      window.parent.postMessage(msg, '*');

      var input = document.getElementById('remote_url');
      input.disabled = false;
      input.value = '';
    }

    function uploadByUrl() {
      var input      = document.getElementById('remote_url')
      var remote_url = input.value

      if (remote_url.includes('http')) {
        <% unless params[:is_image] %>
          sendMessage({url: remote_url});
          return;
        <% end %>

        input.value = 'uploading ...'
        input.disabled = true

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '<%= request.path %>', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("remote_url="+escape(remote_url));
        xhr.onreadystatechange = function() {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            sendMessage(JSON.parse(xhr.responseText));
          }
        }
      }
    }

    // handle on paste event
    document.body.onpaste = function(event){
      var items = (event.clipboardData || event.originalEvent.clipboardData).items;
      for (let index in items) {
        var item = items[index];
        if (item.kind === 'file') {
          myDropzone.addFile(item.getAsFile())
        }
      }
    }
  </script>
</body>
</html>
