<%= render :erb, :_header %>

<style>
  table td {
    vertical-align: top;
  }
</style>

<h2><a href="<%= RackImageResizer.upload_path %>">Uploaded image iframe + debuger</a></h2>

<table>
  <tr>
    <td style="width: 350px;">
      <iframe id="iframe" src="<%= RackImageResizer.upload_path %>" style="width: 300px; height: 200px; border: 0;"></iframe>
    </td>
    <td id="img-response">
    </td>
  <tr>
</table>

<hr />

<h3>Example code</h3>

<pre id="code" class="code"></pre>
<script id="test-script">
  window.addEventListener('message', function(e) {
    const msg = typeof e.data == 'object' ? e.data : JSON.parse(e.data);

    if (msg.type == 'file-upload') {
      document.getElementById('img-response').innerHTML = `
        <pre>${JSON.stringify(msg.data, null, 2)}</pre>
        <hr />
        <img src="${msg.data.url}" style="max-width: 300px;" />
      `
    }
  });
</script>
<script>
  document.getElementById('code').innerText = '<iframe src="<'+'%= RackImageResizer.upload_path %'+'>"></iframe>\n\n<div id="img-response"></div>'+'\n\n<'+'script>'+document.getElementById('test-script').innerText+'<'+'/script>'
</script>
