<!DOCTYPE html>
<html>
<head>
  <title>Image resizer upload iframe</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/min/dropzone.min.js"></script>
</head>
<body>
  <style lang="scss">
    body {
      padding: 0px;
      margin: 0px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .dropzone {
      border: 1px solid #ccf;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;

      padding:50px 20px;
      background-color:#eef;
      cursor: pointer;
      text-align: center;
    }

    .dropzone button {
      padding: 7px 15px;
      border: none;
      background: transparent;
      font-size: 15px;
    }

    .dropzone:hover { border: 1px solid #aaf;  }

    .dropzone svg { display: none; }

    input {
      border: 2px solid #ccf;
      border-radius: 4px;
      width: 96%;
      font-size:14px;
      height: 30px;
      padding-left: 5px;

    }
  </style>

  <form method="post" action="<%= request.path %>?<%= @opts.join('&') %>">
    <input type="text" placeholder="paste image or url" />
  </form>

  <br clear="all" />

  <div class="dropzone"></div>

  <script>
    Dropzone.autoDiscover = false;

    let myDropzone = new Dropzone('.dropzone', {
      paramName:     'image',
      url:           '<%= request.path %>?<%= @opts.join('&') %>',
      maxFilesize:   1,
      dictDefaultMessage: '<b>Click</b> here for upload dialog',
      acceptedFiles: "image/*"
    });

    myDropzone.on("complete", function(response) {
      let text = response.xhr.responseText;

      if (text.indexOf('Error:') > -1) {
        Info.error(text);
      } else {
        sendMessage(JSON.parse(text));
      }
    });

    function sendMessage(message) {
      var msg = { type: 'image-upload', data: message }
      console.log('image-upload-server', message)
      window.parent.postMessage(JSON.stringify(msg), '*');
    }

    // handle on paste event
    document.body.onpaste = function(event){
      var items = (event.clipboardData || event.originalEvent.clipboardData).items;
      for (let index in items) {
        var item = items[index];
        if (item.kind === 'file') {
          myDropzone.addFile(item.getAsFile())
        }
      }
    }
  </script>
</body>
</html>
